 .book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.book-card .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; /* Adjust the height as needed */
 } 

.book-card .book-image {
  width: 300%; 
  height: 300%;
  object-fit: cover;

}

.card-content {
  padding: 10px;
} 


.card-content .btn {
  margin-top: 10px; /* Add margin top to create space */
}