.flipping {
  perspective: 1000px;
  width: 300px;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;


  
}

.flipping .card-front,
.flipping .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.flipping .card-front {
  transform: rotateY(0deg);
}

.flipping .card-back {
  transform: rotateY(180deg);
}

.flipping:hover .card-front {
  transform: rotateY(180deg);
}

.flipping:hover .card-back {
  transform: rotateY(0deg);
}

  .card-image {
    width: 100%;
height: 30vh;
object-fit: contain;
   
} 

.flipping .card-details {
  padding: 1rem;
}

.flipping .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.flipping .card-text {
  font-size: 14px;
  color: #888;
}



.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player {
  width: 100%;
  height: auto;
  text-align: center;
}
