@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.headline {
  left: 130px;
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
    
  }
}


/* featured */

.box-shadow {
	-webkit-box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
	box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	height: 100%;
  }
  
  .box-shadow:hover {
	-webkit-box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
	box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
  }


  .feat {
	border-radius: 25px;
	height: 100%;
	text-align: center;
  }
  
  .feat-image-container {
	display: flex;
	align-items: center;
	

	justify-content: center;
  }
  
  .feat img {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	object-fit: contain;
	
	max-width: 80%;

	max-height: 30vh;
	/* margin: 1rem; */
  }
  


  
  
  .feat-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  }
  
  .feat-title {
	font-weight: bold;
	color: #2b2b2b;
  }
  
  .ikon {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	color: white;
	font-size: 3rem;
	background: rgb(238, 174, 202);
	background: linear-gradient(
	  133deg,
	  rgba(255, 255, 255, 1) 0%,
	  rgba(211, 210, 231, 1) 19%,
	  rgba(11, 39, 73, 1) 100%
	);
	padding: 1rem;
	border-radius: 100%;
	transition: all 0.6s ease-in-out;
	z-index: 1;
  }
  
  .card:hover .ikon {
	transform: rotate(-180deg);
  }
  
  .ikon:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
	  rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
  }
  


#contact .xyz:hover .ion,#contact .xyz:hover h4{
	color: #87d37c;
}