.avatar-container {
    width: 20%;
  }
  
  /* .avatar-wrapper {
    width: 100%;
    transition: width 0.3s;
  } */
  
  /* .avatar-wrapper:hover {
    width: 40%;
  } */

  .list-group-item {
    margin-bottom: 10px;
  }
  
  .avatar-container {

    width: 20%;
    object-fit: contain;
    /* flex-shrink: 0; */
  }
  
  .avatar-wrapper {
    width: 100%;
    /* transition: width 0.3s; */
  }
  
  /* .avatar-wrapper:hover {
    width: 40%;
  }
   */
  .content {
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;

  }

  