.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #fff;
}

.nav-link {
  color: #fff;
}

.dropdown-menu {
  background-color: #333;
}

.dropdown-item {
  color: #fff;
}

.search-form {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 30px;
}

.search-form button {
  margin-left: 10px;
}
