:root {
  --primary-color: #3f51b5;  /* Blue */
  --secondary-color: #f44336;  /* Red */
  --text-color: #333333;  /* Dark Gray */
}

/* Navbar */
.nav {
  background-color: blue;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
}


/* header */

.header-image {
  background: url('./components/images/bg.jpg') center center/cover no-repeat;
  height: 400px;
}

.header-text {
  text-align: center;
  padding-top: 150px;
  color: #ffffff;
}

.header-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-text p {
  font-size: 18px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}